a{
    color: white;
}

a:hover{
    color: blue;
}

header{
    background-image: url("https://1.bp.blogspot.com/-z_EXDTm-aX0/UJCGQhADnEI/AAAAAAAAVrk/5WWEzl1EGY4/s1600/o_hottestcovers.com-1346003116226.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    color: azure;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 28px;
    font-weight: 700;
}

.Sobre {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 250px;
    padding-left: 250px;
    font-size: 22px;

}

.Listas{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: black;
    color: white;
}

.Listas li {
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}

.Listas h2{
    font-size: 30px;
    font-weight: 700;
    color: yellow;
}



footer{
text-align: center;
background-color: #222;
padding-top: 50px;
padding-bottom: 50px;
}

footer button{
    border: none;
    width: 200px;
    height: 50px;
    background-color: rgb(185, 185, 31);
    color: #eee;
    font-weight: 700px;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: .5s;

}

footer button:hover{
    transition: .5s;
    background-color: rgb(220, 220, 106);

}


.cabecalhoContato {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.containerContato {
display: flex;
justify-content: space-around;
padding-top: 50px;
padding-bottom: 50px;

}

.containerContato input{
    width: 350px;
    height: 30px;
    padding: 2px;
}

.containerContato textarea {
    width: 350px;
    padding: 2px;

}

 .form-button{
        border: none;
        width: 200px;
        height: 50px;
        background-color: blue;
        color: #eee;
        font-weight: 700px;
        font-size: 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: .5s;
    
}

    
 .form-button:houver{
    transition: .5s;
    background-color: rgb(220, 220, 106);

}
